<component name="ArtifactManager">
  <artifact type="war" name="SpringMavenMVC:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringMavenMVC.war">
      <element id="artifact" artifact-name="SpringMavenMVC:war exploded" />
    </root>
  </artifact>
</component>